# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python cache
*.pyc

# OS
.DS_Store
Thumbs.db
# MNIST dataset
mnist_dataset/*.csv